{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                {% for book in page_obj %}
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
                {% endfor %}
                    {% if books_previous %}
                    <a type="button" class="btn btn-primary"
                       href="{% url 'book' books_previous.pub_date %}">{{ books_previous.pub_date }} </a>
                    {% endif %}
                    &ensp;&ensp;&ensp;
                     {% if books_next %}
                    <a class="btn btn-primary"
                       href="{% url 'book' books_next %}">{{ books_next }}</a>
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}